---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"65cf3d93e9e6c0cb1669afc8e289f4b4"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-662287618
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"ip17s12q0ek4",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-12-16T12:41:15Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-12-16T12:41:16Z"
          },
          "name":"Importer Example Space"
        }

  recorded_at: Mon, 05 Jan 2015 08:14:26 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d7fb761727969f9c52a402223e0bae78"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "first_name",
              "name": "User",
              "description": "",
              "fields": [
                {
                  "id": "first_name",
                  "name": "First_name",
                  "type": "Text",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": null
                },
                {
                  "id": "last_name",
                  "name": "Last_name",
                  "type": "Text",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": null
                },
                {
                  "id": "birthday",
                  "name": "Birthday",
                  "type": "Date",
                  "lin[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/assets/asset_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "Asset",
            "space": "ip17s12q0ek4",
            "id": "asset_id"
          }
        }
  recorded_at: Mon, 05 Jan 2015 08:14:27 GMT
recorded_with: VCR 2.9.3
