---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types/6H6pGAV1PUsuoAW26Iu48W
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29decf3f4237019bb156e642e6747488"'
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "subject",
          "name": "Comment",
          "description": "",
          "fields": [
            {
              "id": "subject",
              "name": "Subject",
              "type": "Text",
              "linkType": null,
              "items": null,
              "required": null,
              "localized": null,
              "validations": null
            },
            {
              "id": "content",
              "name": "Content",
              "type": "Text",
              "linkType": null,
              "items": null,
              "required": null,
              "localized": null,
              "validations": null
            }
          ],
          "sys": {
            "id": "6H6pGAV1PUsuoAW26Iu48W",
            "type": "ContentType",
            "createdAt": "2014-12-19T14:14:37.371Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "firstPublishedAt": "2014-12-19T14:14:39.787Z",
            "publishedCounter": 1,
            "publishedAt": "2014-12-19T14:14:39.787Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 2,
            "version": 3,
            "updatedAt": "2014-12-19T14:14:39.836Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Mon, 05 Jan 2015 08:09:47 GMT
recorded_with: VCR 2.9.3
