---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"rspec_test_space","defaultLocale":"LOCALE_CODE"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1EQPR5IHrPx94UY4AViTYO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2b28ae9100ccc0f31a9694254151becd"'
      Location:
      - https://api.contentful.com/spaces/xhnj547e27cy
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 71a-1118248373
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"xhnj547e27cy",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2015-01-05T07:12:11Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2015-01-05T07:12:12Z"
          },
          "name":"rspec_test_space"
        }

  recorded_at: Mon, 05 Jan 2015 07:12:15 GMT
recorded_with: VCR 2.9.3
