---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types/2soCP557HGKoOOK0SqmMOm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6f42d943149546aee003a5b21053ddea"'
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Job Skills",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Text",
              "linkType": null,
              "items": null,
              "required": null,
              "localized": null,
              "validations": null
            }
          ],
          "sys": {
            "id": "2soCP557HGKoOOK0SqmMOm",
            "type": "ContentType",
            "createdAt": "2014-12-19T14:14:41.454Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "firstPublishedAt": "2014-12-19T14:14:43.043Z",
            "publishedCounter": 1,
            "publishedAt": "2014-12-19T14:14:43.043Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 2,
            "version": 3,
            "updatedAt": "2014-12-19T14:14:43.085Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:01:19 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types/1TVvxCqoRq0qUYAOQuOqys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3b910223d59b70d1cd84cb7[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/job_skills_1
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Commercial awareness"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 2soCP557HGKoOOK0SqmMOm
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"51fec5fd4a81e38081a991929c6f7551"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Commercial awareness"
            }
          },
          "sys": {
            "id": "job_skills_1",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-01-04T19:01:19.859Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "2soCP557HGKoOOK0SqmMOm"
              }
            },
            "updatedAt": "2015-01-04T19:01:19.859Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:01:20 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/user_1
    body:
      encoding: UTF-8
      string: '{"fields":{"first_name":{"en-US":"FirstName"},"last_name":{"en-US":"LastName"},"birthday":{"en-US":"2009-04-16T09:43:00+00:00"},"profile":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"profile_1"}}},"job_adds":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"jobs_1"}},{"sys":{"type":"Link","linkType":"Entry","id":"jobs_2"}}]}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 1TVvxCqoRq0qUYAOQuOqys
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"65cf3d93e9e6c0cb1669afc8e289f4b4"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-662010720
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"ip17s12q0ek4",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-12-16T12:41:15Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-12-16T12:41:16Z"
          },
          "name":"Importer Example Space"
        }

  recorded_at: Sun, 04 Jan 2015 19:01:27 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types/6H6pGAV1PUsuoAW26Iu48W
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29decf3f4237019bb156e64[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d7fb761727969f9c52a402223e0bae78"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "first_name",
              "name": "User",
              "description": "",
              "fields": [
                {
                  "id": "first_name",
                  "name": "First_name",
                  "type": "Text",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": null
                [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/comment_1
    body:
      encoding: UTF-8
      string: '{"fields":{"subject":{"en-US":"Title comment 1"},"content":{"en-US":"Body
        comment 1"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 6H6pGAV1PUsuoAW26Iu48W
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1f2db9c7e06529585225775a533c20ea"'
    body:
      encoding: UTF-8
      string: |
     [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/assets/image_3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a4b923eb6147eec885b4a80cb601bc34"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Ruby on rails"
            },
            "description": {
              "en-US": ""
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "Ruby on rails",
                "details": {
                  "image": {
                    "width": 1440,
                    "height": 900
                  },
                  "size": 241504
                },
                "url": "//images.contentful.com/ip17s12q0ek4/image_3/8f8ce1db0f40b30a97a4dc607b35cd67/Ruby_on_rails"
              }
            }
          },
          "sys": {
            "id": "image_3",
            "type": "Asset",
            "createdAt": "2014-12-16T15:24:17.867Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "version": 2,
            "updatedAt": "2014-12-16T15:24:18.880Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:01:28 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types/4L1bg4WQ5aWQMiE82ouag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ea36aefe8104e8bcbf11e3fa[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/jobs_1
    body:
      encoding: UTF-8
      string: '{"fields":{"image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"image_3"}}},"creator":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"user_1"}}},"comments":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"comment_1"}},{"sys":{"type":"Link","linkType":"Entry","id":"comment_2"}},{"sys":{"type":"Link","linkType":"Entry","id":"comment_3"}}]},"skills":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"job_skills_1"}},{"sys":{"type":"Link","linkType":"Entry","id":"job_skills_3"}},{"sys":{"type":"Link","linkType":"Entry","id":"job_skills_8"}},{"sys":{"type":"Link","linkType":"Entry","id":"job_skills_10"}}]}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 4L1bg4WQ5aWQMiE82ouag
  response:
    status:
      c[...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types/4WFZh4MwC4Mc0EQWAeOY8A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"20fad29b94c24614696b5b6[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/profile_1
    body:
      encoding: UTF-8
      string: '{"fields":{"nickname":{"en-US":"Nickname 1"},"user":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"user_1"}}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 4WFZh4MwC4Mc0EQWAeOY8A
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ea36346fa0386b47650a83d967ac70a4"'
    body:
      encod[...]
[...]
