---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/space_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"65cf3d93e9e6c0cb1669afc8e289f4b4"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 71a-1110047024
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"space_id",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-12-16T12:41:15Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-12-16T12:41:16Z"
          },
          "name":"Importer Example Space"
        }

  recorded_at: Fri, 19 Dec 2014 14:14:34 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/space_id/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Fri, 19 Dec 2014 14:14:36 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/6H6pGAV1PUsuoAW26Iu48W
    body:
      encoding: UTF-8
      string: '{"name":"Comment","description":null,"fields":[{"id":"subject","name":"Subject","type":"Text","linkType":null,"required":null,"items":null},{"id":"content","name":"Content","type":"Text","linkType":null,"required":null,"items":null}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5d0e6c06aee8af9d31250fd83f73a3df"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Comment",
          "description": null,
          "fields": [
            {
              "id": "subject",
              "name": "Subject",
              "type": "Text",
              "linkType": null,
              "required": null,
              "items": null
            },
            {
              "id": "content",
              "name": "Content",
              "type": "Text",
              "linkType": null,
              "required": null,
              "items": null
            }
          ],
          "sys": {
            "id": "6H6pGAV1PUsuoAW26Iu48W",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-12-19T14:14:37.371Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "space_id"
              }
            },
            "updatedAt": "2014-12-19T14:14:37.371Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Fri, 19 Dec 2014 14:14:37 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/6H6pGAV1PUsuoAW26Iu48W
    body:
      encoding: UTF-8
      string: '{"displayField":"subject","name":"Comment","description":"","fields":[{"id":"subject","name":"Subject","type":"Text","linkType":null,"items":null,"required":null,"localized":null,"validations":null},{"id":"content","name":"Content","type":"Text","linkType":null,"items":null,"required":null,"localized":null,"validations":null}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"03294d7a94adefb607b8cf3e6e3fb126"'
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "subject",
          "name": "Comment",
          "description": "",
          "fields": [
            {
              "id": "subject",
              "name": "Subject",
              "type": "Text",
  [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/6H6pGAV1PUsuoAW26Iu48W/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/2soCP557HGKoOOK0SqmMOm
    body:
      encoding: UTF-8
      string: '{"name":"Job Skills","description":null,"fields":[{"id":"name","name":"Name","type":"Text","linkType":null,"required":null,"items":null}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Crea[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/2soCP557HGKoOOK0SqmMOm/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/4L1bg4WQ5aWQMiE82ouag
    body:
      encoding: UTF-8
      string: '{"name":"Jobs","description":null,"fields":[{"id":"title","name":"Title","type":"Text","linkType":null,"required":null,"items":null},{"id":"description","name":"Description","type":"Text","linkType":null,"required":null,"items":null},{"id":"image","name":"Image","type":"Link","linkType":"Asset","required":null,"items":null},{"id":"creat[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/4L1bg4WQ5aWQMiE82ouag/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/4WFZh4MwC4Mc0EQWAeOY8A
    body:
      encoding: UTF-8
      string: '{"name":"Profile","description":null,"fields":[{"id":"nickname","name":"Nickname","type":"Text","linkType":null,"required":null,"items":null},{"id":"user","name":"User","type":"Link","linkType":"Entry","required":null,"items":null}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - applicatio[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/4WFZh4MwC4Mc0EQWAeOY8A/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/1TVvxCqoRq0qUYAOQuOqys
    body:
      encoding: UTF-8
      string: '{"name":"User","description":null,"fields":[{"id":"first_name","name":"First_name","type":"Text","linkType":null,"required":null,"items":null},{"id":"last_name","name":"Last_name","type":"Text","linkType":null,"required":null,"items":null},{"id":"birthday","name":"Birthday","type":"Date","linkType":null,"required":null,"items":null},{"[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/space_id/content_types/1TVvxCqoRq0qUYAOQuOqys/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
