---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"65cf3d93e9e6c0cb1669afc8e289f4b4"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1346180541
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"ip17s12q0ek4",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-12-16T12:41:15Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-12-16T12:41:16Z"
          },
          "name":"Importer Example Space"
        }

  recorded_at: Sun, 04 Jan 2015 19:11:08 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d7fb761727969f9c52a402223e0bae78"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "first_name",
              "name": "User",
              "description": "",
              "fields": [
                {
                  "id": "first_name",
                  "name": "First_name",
                  "type": "Text",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": null
                },
                {
                  "id": "last_name",
                  "name": "Last_name",
                  "type": "Text",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": null
                },
                {
                  "id": "birthday",
                  "name": "Birthday",
                  "type": "Date",
                  "lin[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/assets/image_1
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Image 1"},"description":{"en-US":""},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Image
        1","upload":"http://new1.fjcdn.com/thumbnails/comments/4019311+_9f47119b44b5043d82c74008dc40397d.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"de8d3bc5d5bf099a1faf5e8ed13dd4ca"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Image 1"
            },
            "description": {
              "en-US": ""
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "Image 1",
                "upload": "http://new1.fjcdn.com/thumbnails/comments/4019311+_9f47119b44b5043d82c74008dc40397d.jpg"
              }
            }
          },
          "sys": {
            "id": "image_1",
            "type": "Asset",
            "version": 1,
            "createdAt": "2015-01-04T19:11:09.787Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "updatedAt": "2015-01-04T19:11:09.787Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:11:10 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/assets/image_1/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Jan 2015 19:11:10 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/assets/image_4/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Jan 2015 19:11:19 GMT
recorded_with: VCR 2.9.3
