---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/job_skills_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "Entry",
            "space": "ip17s12q0ek4",
            "id": "job_skills_1"
          }
        }
  recorded_at: Wed, 14 Jan 2015 08:11:47 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/content_types/2soCP557HGKoOOK0SqmMOm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6f42d943149546aee003a5b21053ddea"'
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Job Skills",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Text",
              "linkType": null,
              "items": null,
              "required": null,
              "localized": null,
              "validations": null
            }
          ],
          "sys": {
            "id": "2soCP557HGKoOOK0SqmMOm",
            "type": "ContentType",
            "createdAt": "2014-12-19T14:14:41.454Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "firstPublishedAt": "2014-12-19T14:14:43.043Z",
            "publishedCounter": 1,
            "publishedAt": "2014-12-19T14:14:43.043Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 2,
            "version": 3,
            "updatedAt": "2014-12-19T14:14:43.085Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 14 Jan 2015 08:11:47 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/job_skills_1
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Commercial awareness"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 2soCP557HGKoOOK0SqmMOm
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e1b93a0aa8f7291658e6633b52bf2dc7"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Commercial awareness"
            }
          },
          "sys": {
            "id": "job_skills_1",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-01-14T08:11:47.211Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "2soCP557HGKoOOK0SqmMOm"
              }
            },
            "updatedAt": "2015-01-14T08:11:47.211Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 14 Jan 2015 08:11:48 GMT
[...]
