---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 401 Unauthorized
      X-Contentful-Request-Id:
      - 85f-1346166421
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Error",
            "id":"AccessTokenInvalid"
          },
          "requestId":"85f-1346166421",
          "message":"The access token you sent could not be found or is invalid."
        }

  recorded_at: Sun, 04 Jan 2015 18:33:54 GMT
recorded_with: VCR 2.9.3
