---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/comment_5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b5db3ca579e112bc006ead7e979bb579"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "subject": {
              "en-US": "Comment 2"
            },
            "content": {
              "en-US": "Body Comment 2"
            }
          },
          "sys": {
            "id": "comment_5",
            "type": "Entry",
            "createdAt": "2015-01-04T19:01:31.815Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "6H6pGAV1PUsuoAW26Iu48W"
              }
            },
            "firstPublishedAt": "2015-01-04T19:02:04.204Z",
            "publishedCounter": 2,
            "version": 5,
            "updatedAt": "2015-01-05T07:01:20.927Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Mon, 05 Jan 2015 07:04:07 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/comment_5/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"403fa4b41f2e2f4bdff08a5a5238ebad"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "subject": {
              "en-US": "Comment 2"
            },
            "content": {
              "en-US": "Body Comment 2"
            }
          },
          "sys": {
            "id": "[...]
