---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/assets/image_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f3514ae2cde021bca83baa82ae2cec76"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Image 1"
            },
            "description": {
              "en-US": ""
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "Image 1",
                "details": {
                  "image": {
                    "width": 300,
                    "height": 169
                  },
                  "size": 10441
                },
                "url": "//images.contentful.com/ip17s12q0ek4/image_1/4bfcde0a6b60683539d78d7fa782a6e9/Image_1"
              }
            }
          },
          "sys": {
            "id": "image_1",
            "type": "Asset",
            "createdAt": "2015-01-04T19:11:09.787Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "version": 2,
            "updatedAt": "2015-01-04T19:11:11.920Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:12:32 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/assets/image_1/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b7e3a1174b1b05b5d0fa77cd7a08558f"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Image 1"
            },
            "description": {
              "en-US": ""
            },
            "file": {
              "en-US": {
                "[...]
[...]
