---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/user_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"36ce6f33d57ce5d42bf1f61fede625b0"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "first_name": {
              "en-US": "FirstName"
            },
            "last_name": {
              "en-US": "LastName"
            },
            "birthday": {
              "en-US": "2009-04-16T09:43:00+00:00"
            },
            "profile": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "profile_1"
                }
              }
            },
            "job_adds": {
              "en-US": [
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "jobs_1"
                  }
                },
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "jobs_2"
                  }
                }
              ]
            }
          },
          "sys": {
            "id": "user_1",
            "type": "Entry",
            "createdAt": "2015-01-04T19:01:20.131Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "1TVvxCqoRq0qUYAOQuOqys"
              }
            },
            "firstPublishedAt": "2015-01-04T19:02:06.815Z",
            "publishedCounter": 1,
            "version": 3,
            "updatedAt": "2015-01-04T19:02:16.234Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:03:21 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/job_skills_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"94eb5d860529e7bf14e3e581fcb56733"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Commercial awareness"
            }
          },
          "sys": {
            "id": "job_skills_1",
            "type": "Entry",
            "createdAt": "2015-01-04T19:01:19.859Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "2soCP557HGKoOOK0SqmMOm"
              }
            },
            "firstPublishedAt": "2015-01-04T19:02:06.775Z",
            "publishedCounter": 1,
            "version": 3,
            "updatedAt": "2015-01-04T19:02:16.205Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:03:21 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/job_skills_1/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"22af4dc24f60dc4547840cf1703d71cc"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Commercial awareness"
            }
          },
          "sys": {
            "id": "job_skills_1",
            "type": "Entry",
            "createdAt": "2015-01-04T19:01:19.859Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "2soCP557HGKoOOK0SqmMOm"
              }
            },
            "firstPublishedAt": "2015-01-04T19:02:06.775Z",
            "publishedCounter": 2,
            "version": 4,
            "updatedAt": "2015-01-04T19:03:22.016Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedAt": "2015-01-04T19:03:22.016Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 3
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:03:22 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/user_1/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
     [...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/jobs_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3bac6deb99247d77bd85c7d9d45bc40f"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "image": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Asset",
                  "id": "image_3"
                }
              }
            },
            "creator": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "user_1"
                }
              }
            },
            "comments": {
              "en-US": [
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "comment_1"
                  }
                },
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "comment_2"
                  }
                },
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "comment_3"
                  }
                }
              ]
            },
            "skills": {
              "en-US": [
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "job_skills_1"
                  }
                },
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "job_skills_3"
                  }
                },
                {
                  "sys": {
                    "ty[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/jobs_1/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
     [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/comment_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"10f82113776618d0c31232774bc4853c"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "subject": {
              "en-US": "Title comment 1"
            },
            "content": {
              "en-US": "Body comment 1"
            }
          },
          "sys": {
            "id": "comment_1",
            "type": "Entry",
            "createdAt": "2015-01-04T19:01:27.815Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "6H6pGAV1PUsuoAW26Iu48W"
              }
            },
            "firstPublishedAt": "2015-01-04T19:02:04.898Z",
            "publishedCounter": 1,
            "version": 3,
            "updatedAt": "2015-01-04T19:02:16.019Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:03:30 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/comment_1/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
  [...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/profile_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f0bc8ab4f52362bac862ef27f54766b2"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "nickname": {
              "en-US": "Nickname 1"
            },
            "user": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "user_1"
                }
              }
            }
          },
          "sys": {
            "id": "profile_1",
            "type": "Entry",
            "createdAt": "2015-01-04T19:01:45.087Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ip17s12q0ek4"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "4WFZh4MwC4Mc0EQWAeOY8A"
              }
            },
            "firstPublishedAt": "2015-01-04T19:02:03.925Z",
            "publishedCounter": 1,
            "version": 3,
            "updatedAt": "2015-01-04T19:02:14.466Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 04 Jan 2015 19:03:33 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/profile_1/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
  [...]
[...]
